/* Global */
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

main {
  padding: 32px 48px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}
.main-wrapper {
  max-width: 1440px;
}

img {
  object-fit: cover;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 153px;
}

h2 {
  font-size: 128px;
}

h3 {
  font-size: 64px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Header */
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 64px 0;
}

.header__nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__nav-item {
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 8px;
  border-radius: 68px;
  font-weight: 600;
}

.header__nav-item--discover {
  color: white;
  background-color: rgba(35, 35, 35, 0.82);
}

.header__nav-item--menu {
  color: #000000 !important;
}

/* Footer */
.footer {
  background-color: #ffffff;
  width: 100%;
  padding: 32px 32px 32px 48px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer__info,
.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__info {
  gap: 16px;
}

.footer__section {
  gap: 8px;
}

.footer__list-item {
  list-style: none;
}

.footer__list--social {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Main page */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

.hero__img {
  width: 80%;
}

.content {
  padding-top: 56px;
}

.content__header {
  display: flex;
  flex-direction: column;
  padding-inline: 200px;
}

.content__title {
  display: flex;
}

.content__title--first {
  justify-content: flex-start;
  font-size: 50px !important;
}

.content__title--second {
  justify-content: flex-end;
  padding-bottom: 16px;
}

.content__description {
  width: 40%;
  padding-bottom: 112px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-bottom: 128px;
}

.category {
  background-color: #d9d9d9;
  padding: 16px;
  width: 506px;
  height: 439px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.category__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.category__arrow {
  width: 48px;
}

.category__img {
  width: 100%;
  height: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.feature__content {
  display: flex;
  gap: 32px;
}

.feature__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.feature__img {
  width: 50%;
  border-radius: 36px;
}

.feature__text {
  font-size: 24px;
}

/* Login page */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.login__input {
  font-size: 20px;
  border-radius: 16px;
  border: none;
  padding: 16px;
  text-align: center;
}

.login__button {
  background-color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 24px;
  width: 192px;
}

/*discover-page*/

.venue-content {
  display: flex;
  justify-content: space-between;
}
.venue-link {
  width: 100%;
  color: #000000;
}
.remove-venue {
  height: 20px;
  width: 20px;
}
#venues-list {
  background-color: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 400px));
  column-gap: 2%;
  row-gap: 5vw;
  justify-content: center;
  padding-top: 40px;
  background-color: none;
}
.letter-container {
  display: flex;
  align-items: center;
}
.line {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1.5px solid #000000;
  margin: 1em 0;
  margin-left: 10px;
}
.venue-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  background-color: #d9d9d9;
}
.add-venue {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 25px;
  padding-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 330px;
  height: 60px;
  background-color: #d9d9d9;
  cursor: pointer;
}
.arrow {
  width: 30px;
  height: 3px;
  background-color: #000000;
  position: relative;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #000000;
  border-radius: 10px 10px 10px 10px;
}
.arrow::before {
  transform: translate(20px, 4.4px) rotate(-45deg);
}

.arrow::after {
  transform: translate(20px, -4.4px) rotate(45deg);
}
